<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fan.service.dao.UserDao">
    <sql id="col">id,username,password,phoneNumber</sql>
    <sql id="tab">user</sql>
    <resultMap id="baseResult" type="cn.fan.model.User">
        <result column="id" property="id"></result>
        <result column="username" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="phoneNumber" property="phoneNumber"></result>
    </resultMap>

    <select id="getUser" resultMap="baseResult">
        select <include refid="col"></include>
        from <include refid="tab"></include>
        where id=#{id} limit 1;
    </select>

    <select id="getUserByName" resultMap="baseResult">
        select <include refid="col"></include>
        from <include refid="tab"></include>
        where username=#{userName} limit 1;
    </select>

    <select id="getUserByPhoneNumber" resultMap="baseResult">
        select <include refid="col"></include>
        from <include refid="tab"></include>
        where phoneNumber=#{phoneNumber} limit 1;
    </select>

    <select id="getUserByPhoneNumberOrName" resultType="cn.fan.model.User">
        select <include refid="col"></include>
        from <include refid="tab"></include>
        <where>
            <if test="null!=phoneNumber and phoneNumber.length>0">
                phoneNumber=#{phoneNumber}
            </if>
            <if test="null!=userName and userName.length>0">
                or userName=#{userName}
            </if>
        </where>
        limit 1
    </select>

    <select id="getList" resultMap="baseResult">
        select <include refid="col"></include>
        from <include refid="tab"></include>
    </select>

    <insert id="insert" parameterType="cn.fan.model.User"  keyColumn="id" keyProperty="id">
        insert <include refid="tab"></include>
        (<include refid="col"></include>)
        values(default,#{userName},#{password},#{phoneNumber});
    </insert>

    <delete id="delete">
        delete from <include refid="tab"></include>
        where id=#{id};
    </delete>

    <update id="update" parameterType="cn.fan.model.User">
        update <include refid="tab"></include>
        <set>
            <if test="null!=userName and userName.length>0">
                username=#{userName},
            </if>
            <if test="null!=password and password.length>0">
                password=#{password},
            </if>
            <if test="null!=phoneNumber and phoneNumber.length==11">
                phoneNumber=#{phoneNumber}
            </if>
        </set>
    </update>


</mapper>